/*
 * Nanum Myeongjo (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
	font-family: 'Nanum Myeongjo';
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/ea/nanummyeongjo/v4/NanumMyeongjo-Regular.eot);
	src: url(//fonts.gstatic.com/ea/nanummyeongjo/v4/NanumMyeongjo-Regular.eot?#iefix) format('embedded-opentype'),
	url(//fonts.gstatic.com/ea/nanummyeongjo/v4/NanumMyeongjo-Regular.woff2) format('woff2'),
	url(//fonts.gstatic.com/ea/nanummyeongjo/v4/NanumMyeongjo-Regular.woff) format('woff'),
	url(//fonts.gstatic.com/ea/nanummyeongjo/v4/NanumMyeongjo-Regular.ttf) format('truetype');
}

* {
	box-sizing: border-box;
}

body {
	background-image: url(//cdn.rawgit.com/yourcandle/yourcandle.github.com/master/img//bg.png);
	background-size: cover;
}

.wrapper {
	width: 100%;
	height: 100%;
}

.content {
	width: 380px;
	margin: 50px auto;
}

.title {
	width: 100%;
	text-align: center;
	color: #ffe2bc;
	font-size: 38px;
	font-family: 'Nanum Myeongjo', serif;
	font-weight: 100;
	letter-spacing: 1px;
}

.description {
	width: 100%;
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: 100;
	line-height: 1.4em;
	opacity: .4;
	font-family: 'Nanum Gothic', 'dotum', 'gulim';
}

#preview {
    margin: 0 15px 40px;
    border: 0;
    background-image: url(//cdn.rawgit.com/yourcandle/yourcandle.github.com/master/img/blank.png);
    background-size: cover;
    color: transparent;
    width: 350px;
    height: 350px;
}

.fb-button button, .file-button button, .download-button button, .restart-button button {
    border: 1px solid rgba(255,255,255,.3);
    background-color: transparent;
    color: #ffe2bc;
    padding: 10px 30px;
    width: 100%;
    height: 60px;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 16px;
    margin-bottom: 10px;
	cursor: pointer;
}

.file-button input {
    display: none;
}

.download-button, .restart-button {
	display: none;
}

@media screen and (min-width: 970px)  {
	.content {
		width: 400px;
		margin: 80px auto;
	}

	.title {
		width: 100%;
		text-align: center;
		color: #ffe2bc;
		font-size: 38px;
		font-family: 'Nanum Myeongjo', serif;
		font-weight: 100;
		padding: 0;
		letter-spacing: 3px;
	}

	.description {
		width: 100%;
		text-align: center;
		font-size: 14px;
		color: #FFFFFF;
		font-weight: 100;
		opacity: .3;
		font-family: 'Nanum Gothic', 'dotum', 'gulim';
		line-height: 18px;
		letter-spacing: 1px;
	}

	#preview {
	    margin: 0 15px 70px;
	    border: 0;
	    background-color: #333333;
	    color: transparent;
	    width: 380px;
	    height: 380px;
	}

	.fb-button button, .file-button button, .download-button button, .restart-button button {
	    border: 1px solid rgba(255,255,255,.3);
	    background-color: transparent;
	    color: #ffe2bc;
	    padding: 10px 30px;
	    width: 100%;
	    height: 60px;
	    font-family: 'Nanum Myeongjo', serif;
	    font-size: 16px;
	    margin-bottom: 10px;
	}

	.file-button input {
	    display: none;
	}
}

.icons {
	display: inline-block;
	background-image: url(//cdn.rawgit.com/yourcandle/yourcandle.github.com/master/img/icons.png);
	background-size: 18px auto;
	width: 18px;
	height: 18px;
	margin-right: 7px;
	vertical-align: text-top;
}

.icons.facebook {
	background-position: 0px 0px;
}

.icons.upload {
	background-position: 0px -46px;
}

.icons.download {
	background-position: 0px -24px;
}

.loading {
	display: none;
	background: rgba(0, 0, 0, .7) no-repeat;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}

.spinner {
	display: inline-block;
	height: 28px;
	width: 28px;
	position: absolute;
	top: calc(50% - 14px);
	left: calc(50% - 14px);
	animation: rotate 0.8s infinite linear;
	border: 8px solid #fff;
	border-right-color: transparent;
	border-radius: 50%;
}

@keyframes rotate {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

